*{
    box-sizing: border-box;
}

.navbar-cart{
    display: flex;
    min-height: 5rem;
    background-color: white;
    box-shadow: 0.5px 2px 1px grey;
}
.navbar-cart .logotop{
    width:33%;
    text-align: center;
}

/* .navbar-cart  */
.three-section{
    display: flex;
    width: 33%;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    
}
.three-section div{
    /* border: 1px solid rgba(89, 87, 150, 0.5); */
    /* box-shadow: px 1px rgba(251, 55, 130, 255) ; */
    /* height: ; */
    margin: 2rem;
}
.allcart{
    display: flex;justify-content: center;
    margin: 1rem;
}
.allcart > div{
    margin: 1rem;
}
.registerpop{
    display: flex;
    flex-direction: column;
}
.itemdetail{
    display: flex;
    flex-direction: column;
    height: 40rem;
    transition: height 2s;
}
.allcarted{
    display: flex;
    flex-direction: column;
    max-height: 25rem;
    overflow-y: scroll;
}
.cartcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px grey;
    padding: 0.5rem;
}




.guestpop{
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    
}
.loginpop{
    display: flex;
    flex-direction: column;
}
.guestpop input , .guestpop textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(251, 55, 130, 0.52);
    margin-top: 0.5rem;
}
.guestpop label{
    margin-top: 1rem;
}

/* .loginborder , .addborder , .payment{
    /* border-bottom: 1px solid rgba(251, 55, 130, 255) ; */
    /* border: 1px solid blue; */
/* } */ 

.total{
    text-align: center;
    margin-top: 1rem;
    border: 1px solid grey;
    background-color: rgba(251, 55, 130, 255);
    color: white;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    /* border: 10px solid red; */
    transition: all 1s;
}
.btmcartsection >a button{
background-color: rgba(251, 55, 130, 255);
color: white;
font-weight: 700;
border-radius: 3px;
cursor: pointer;

 max-height: 3rem; margin-top: 1rem; width: 20vw;border-radius: 1vw;
 transition: all 1s;
 outline: none;
 border: none;

}
a{
    text-decoration: none;
    color: white;
    outline: none;
    border: none;

}
.fb, .google{
    background-color: rgba(251, 55, 130, 255);
color: white;
font-weight: 700;
border-radius: 3px;
cursor: pointer;

 max-height: 3rem; margin-top: 1rem; width: 10vw;border-radius: 1vw;
 transition: all 1s;
 outline: none;
 border: none;

}
.allcart .fbgoogle{
    color:rgba(251, 55, 130, 255) ;
    background-color: white;
    outline: none;
    border: none;

}

.total:hover , .btmcartsection button:hover , .fb:hover , .google:hover{
    outline: none;
    border: none;

    color:rgba(251, 55, 130, 255) ;
    background-color: white;
    box-shadow: 1px 1px rgba(251, 55, 130, 255);
}
#download{
    /* border: 2px solid red; */
    outline: none;
    border: none;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.356) ;

    background-color: rgba(251, 55, 130, 255) ; font-weight: 700; color: white; max-height: 3rem; margin-top: 1rem; margin-left: 2vw; width: 10vw;border-radius: 1vw; transition: all 1s;
}

#download:hover{
   background-color: white;
   color: rgba(251, 55, 130, 255);
   box-shadow: 2px 2px rgba(251, 55, 130, 255) ;

}
#logout , .amount{
    /* border: 2px solid red; */
    outline: none;
    border: none;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.356) ;

    background-color: rgba(251, 55, 130, 255) ; font-weight: 700; color: white; max-height: 3rem; margin-top: 1rem; margin-left: 2vw; width: 10vw;border-radius: 1vw; transition: all 1s;
}

#logout:hover, .amount:hover{
   background-color: white;
   color: rgba(251, 55, 130, 255);
   box-shadow: 2px 2px rgba(251, 55, 130, 255) ;

}





::-webkit-scrollbar {

    height: 5px; 
     width: 5px;
     border-radius: 2px;
   }
 /* Track */
 ::-webkit-scrollbar-track {
     background: rgba(136, 136, 136, 0.137); 
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: rgba(251, 55, 130, 255); 
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #555; 
   }
 
  .vcard:hover{
      cursor: pointer;
  }
 
  .right:hover{
     overflow-y: scroll;
  }
  .username{
      padding-top: 1rem;
      padding-left: 1rem;
  }


  