body{
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#first-footer{
    display: flex;
    background-color: #3f414d;
    color: white;
    padding:5%;
}
.mail{
    margin-left:1%;
    margin-right:1%;
}
.phone{
    margin-left:1%;
    margin-right:1%;
}
.app{
    margin-left:1%;
    margin-right:1%;
}
.app img{
    margin:0% 0%;
    width:100%;
    height:100%;
}
.google{
    width:35%;
    height:30%;
    background-color: black;
}
#second-footer p{
    font-family: 'Praise';
    color: white;
    font-size: 200%;
    float: left;
    margin:1%;
}
#second-footer{
    background-color: rgb(134, 132, 132);
    height: 60%;
    width: 100%;
    padding: 2%;
    display: flex;
}
.one{
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 200%;
    font-weight:lighter;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}
.one a{
    color: white;
    text-decoration: none;
}
#third-footer{
    display: flex;
    background-color: rgb(241, 240, 234);
    width:100%;
    height:40%;
    padding:3%;
}
.ship,.easy,.auth,.brand{
    margin-left: 5%;
    margin-right: 5%;
}
#last-footer{
    width: 100%;
    background-color: rgb(248, 3, 167);
    color: white;
    text-align: center;
    padding:1%;
}
#last-footer  span{
margin-left: 1%;
margin-right: 1%;
font-weight: 600;
}
.small{
    font-size: small;
    font-weight: 100;

}
#footer i{
margin-left: 5%;
margin-right: 5%;
}
.social{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    font-weight: 700;
}

body{
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#first-footer{
    display: flex;
    background-color: #3f414d;
    color: white;
    padding:5%;
}
.mail{
   margin-left: 7%;
   font-size: 15px;
   font-weight: 300;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input{
  margin-top: 3%;
 background-color: #3f414d;
}
.submit-button{
    background-color: #3f414d;
    width:100px;
    color:white;
    height:30px;
}
.app{
    margin-left:8%;
    font-size: 16px;
    font-weight: 300;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.appleButton{
    margin-top: 2%;
    height: 75px;
    background-color: black;
    border-radius: 10%;
    float: right;
}
.appleButton a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.google{
    margin-top: 2%;
    margin-right: 10px;
    height: 75px;
    width:100px;
    background-color: black;
    border-radius: 10%;
}
.phone{
    margin-left: 10%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#second-footer p{
    font-family: 'Praise';
    color: white;
    font-size: 200%;
    float: left;
    margin:1%;
}
#second-footer{
    background-color: rgb(134, 132, 132);
    width: 100%;
    padding: 2%;
    display: flex;
}
.one{
    list-style: none;
    line-height: 200%;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}
.one li a{
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one a:hover{
    color: rgb(248, 3, 167);
}
#third-footer{
    display: flex;
    background-color: rgb(241, 240, 234);
    width:95%;
    height:40%;
    padding:3%;
}
.ship,.easy,.auth,.brand{
    margin-left:5%;
    margin-right: 5%;
}
.authImg,.ease,.brandImg{
    float: left;
    margin-right: 5%;
}
#last-footer{
    width: 100%;
    background-color: rgb(248, 3, 167);
    color: white;
    text-align: center;
    padding:1%;
}
#last-footer  span{
margin-left: 1%;
margin-right: 1%;
font-weight: 450;
}
#last-footer span a{
    text-decoration: none;
    color: white;
}
.small{
    font-size: small;
    font-weight: 100;

}
#third-footer i{
margin-left: 5%;
margin-right: 5%;
}
.social{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    font-weight: 700;
}

@media (max-width: 480px) {
    #first-footer{
        display: inline-block;
        background-color: #3f414d;
        color: white;
        width: 90%;
    }
    .mail{
       font-size: 7px;
       font-weight: 200;
    }
    .input{
    margin-top: 3%;
    background-color: #3f414d;
    width:110px;
    font-size: 7px;
    margin-right: 2%;
    }
    .submit-button{
        background-color: #3f414d;
        width:60px;
        color:white;
        height:20px;
        font-size: 7px;
    }
    .app{
        margin-top:5%;
        font-size: 7px;
        font-weight: 200;
    }
    .app i {
        font-size: 16px;
    }
    .appleButton{
        height: 30px;
    }
    .appleButton a{
        font-size: 8px;
    }
    .google{
        margin-top: 2%;
        height: 50px;
        width:80px;
    }
    .phone{
        margin-top: 5%;
        font-size: 8px;
    }
    #second-footer{
        display: none;
    }
    .brand{
        display: none;
    }
    .ship,.auth,.easy{
        font-size: 8px;
        margin-left:10px;
        margin-right: 10px;
    }
    .authImg,.ease,.truck{
        float: left;
        margin-right: 10px;
        height: 30px;
    }
    .social{
        display: inline-block;
        font-size: 8px;
    }
    #last-footer{
        font-size: 8px;
    }
  }

  @media (min-width: 768px) {
    #second-footer p{
        font-size: 8px;
        float: left;
        margin:10px;
    }
    #second-footer{
        width: 99%;
    }
    .one{
       line-height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width: 980px) {
    #second-footer p{
        font-family: 'Praise';
        color: white;
        font-size: 200%;
        float: left;
        margin:1%;
    }
    #second-footer{
        background-color: rgb(134, 132, 132);
        width: 100%;
        padding: 2%;
        display: flex;
    }
    .one{
        list-style: none;
        line-height: 200%;
        color: white;
        margin-left: 1%;
        margin-right: 1%;
    }
    #last-footer{
        width: 100%;
        background-color: rgb(248, 3, 167);
        color: white;
        text-align: center;
        padding:1%;
    }
    #last-footer  span{
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 450;
    }
    #last-footer span a{
        text-decoration: none;
        color: white;
    }
    .small{
        font-size: small;
        font-weight: 100;
    
    }
    #third-footer i{
    margin-left: 5%;
    margin-right: 5%;
    }
    .social{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 90%;
        font-weight: 700;
    }
    #third-footer{
        display: flex;
        background-color: rgb(241, 240, 234);
        width:95%;
        height:40%;
        padding:3%;
    }
    .ship,.easy,.auth,.brand{
        margin-left:5%;
        margin-right: 5%;
    }
    .authImg,.ease,.brandImg{
        float: left;
        margin-right: 5%;
    }
    #first-footer{
        display: flex;
        background-color: #3f414d;
        color: white;
        padding:5%;
    }
    .mail{
       margin-left: 7%;
       font-size: 15px;
       font-weight: 300;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .input{
      margin-top: 3%;
     background-color: #3f414d;
    }
    .submit-button{
        background-color: #3f414d;
        width:100px;
        color:white;
        height:30px;
    }
    .app{
        margin-left:8%;
        font-size: 16px;
        font-weight: 300;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .appleButton{
        margin-top: 2%;
        height: 75px;
        background-color: black;
        border-radius: 10%;
        float: right;
    }
    .appleButton a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .google{
        margin-top: 2%;
        margin-right: 10px;
        height: 75px;
        width:100px;
        background-color: black;
        border-radius: 10%;
    }
    .phone{
        margin-left: 10%;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}