#header{
  position: fixed;
  top: 0;
  width: 100vw;
  /* overflow-y: hidden; */
  z-index: 3;
  background-color: white;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
    z-index:-1;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgb(190, 151, 187);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: white;
  }
  .prev{
    align-items: center;
    left:1em;
    border-radius: 50%;
    width:3em;

  }

  .next {
    right: 1em;
    border-radius: 50%;
    width: 3em;
  }

  .active {
    background-color: #e684d9;
  }
  
  .fade {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .homepagediv2{
  cursor: pointer;
  position:relative;
  width: 88%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0%;
  }
  
  .homepagediv2:hover{
     box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.home-para{
    font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;  
  text-align: center;
  color: #3f414d;
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-weight: 500;

}
.homepagediv3{
  margin-top: .1em;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.div3-data{
    position:relative;
    cursor: pointer;
    display: flex;;
    border: 1px solid rgb(212, 200, 200);
    margin: .4em;
    height:20em;
}
.div3-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.hpg-content{
display: flex;
width: 70%;
bottom:0;
}


.cartpage{
  /* display: none; */
  /* border-radius: 5px; */
  visibility: hidden;
  max-height: 78vh;
  overflow-y: scroll;
  position: absolute;
  right: 0%;
  top: 20vh;
  z-index: 2;
  /* display: none; */
  background-color: white;
  text-align: center;
  border-radius: 1vw;
  border: 2px solid  rgba(251, 55, 130, 255);
  box-shadow: 2px 3px 3px 2px grey;
  /* transition: scroll 10s; */
  
  /* min-width: 25vw; */

}
.cartcontainer{
  /* max-width: 30%; */
  min-height: 6rem;
  max-height: 6rem;
  display: flex;
  border: 1px solid grey;
  box-shadow: 2px 3px grey;
  margin: 1rem;
 
}
.cartcontainer img{
  max-width: 5vw;
}
.checkout{
  background-color: rgba(251, 55, 130, 255);
  font-weight: 700;
  color: white;
  min-height: 2rem ;
  border-radius: 5px;
  min-width: 20vw;
  position: sticky;
  top: 0;
  transition: background 1s ;
  transition: color 1s ;
  border: none;
  outline: none;
}

.cross{
  position: absolute;
  right: 0;
  font-size: x-large;
  /* color:rgba(251, 55, 130, 255) ; */
  outline: none;
  border: none;
  position: sticky;
  top: 0;
  border: none;
  outline: none;
  transition: background 1s ;
  transition: color 1s ;
}
.checkout:hover , .cross:hover{
  
  box-shadow: 1px 1px rgba(251, 55, 130, 255);
  background-color: white;
  color: rgba(251, 55, 130, 255);
}

.slideshow2{
  cursor: pointer;
  position:relative;
  width: 88%;
  display:block;
  height:10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2em;
  padding: 0%;
  border:.05em solid pink;
}

.homepagediv4{
    margin-top: .1em;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);   
}

.div4-data{
    cursor: pointer;
    display: flex;;
    border: .05em solid rgb(212, 200, 200);
    margin: .4em;
    height:24em;
    background-color: white;
}
.div4-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.div4-data>img{
    width:100%;
    height:18em;
}
.div3-data>img{
    width:100%;
}
.homepagediv2>img{
    width: 100%;
}
.div5-data{
    cursor: pointer;
    display: flex;;
    border: .05em solid rgb(212, 200, 200);
    margin: .4em;
    height:15em;
    background-color: white;  
}
.div5-data>img{
width:100%;
}
.div6-data{
    cursor: pointer;
    display: flex;;
    border: .05em solid rgb(212, 200, 200);
    margin: .4em;
    height:22em;
    background-color: white;
}
.div6-data>img{
width:100%;
height:18em;
}
.div6-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.homepagegiftcard{
    cursor: pointer;
    position:relative;
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0%;
}
.homepagegiftcard>img{
   width:100%;
}
.homepagegiftcard:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.slider {
  overflow: hidden;
  display:grid;
  grid-template-columns: repeat(20, 2fr) ;
  margin: auto;
  width: 88%;
  
}
.slider> div {
  cursor: pointer;
  margin:.5rem;
  position: relative;
  width: 900%;
  left: 0;
  font-size: 0;
  animation: 30s slider infinite;
}
.slider> div:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.slider> div >img {
  float: left;
  height: 20rem;
  width: 35rem;

}
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  70% {
    left: -350%;
  }
  75% {
    left: -400%;
  }
  95% {
    left: -500%;
  }
}

::-webkit-scrollbar {

  height: 5px; 
   width: 5px;
   border-radius: 2px;
 }
/* Track */
::-webkit-scrollbar-track {
   background: rgba(136, 136, 136, 0.137); 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgba(251, 55, 130, 255); 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }

.vcard:hover{
    cursor: pointer;
}

.right:hover{
   overflow-y: scroll;
}