.slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
    z-index:-1;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgb(190, 151, 187);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  /* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: white;
  }
  .prev{
    align-items: center;
    left:1em;
    border-radius: 50%;
    width:3em;

  }

  .next {
    right: 1em;
    border-radius: 50%;
    width: 3em;
  } */

  .active {
    background-color: #e684d9;
  }
  
  .fade {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .homepagediv2{
  cursor: pointer;
  position:relative;
  width: 88%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0%;
  }
  
  .homepagediv2:hover{
     box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.home-para{
    font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;  
  text-align: center;
  color: #3f414d;
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-weight: 500;

}
.homepagediv3{
  margin-top: .1em;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.div3-data{
    position:relative;
    cursor: pointer;
    display: flex;
    /* border:  solid rgb(212, 200, 200); */
    margin: .4em;
    border-radius: .2rem;
   

}
.div3-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.div3-data>a>img{
  width:100%;
  height:fit-content;
  border-radius: .2rem;
}
.div3-data>a>div{
  position: absolute;
  bottom: .2rem;
  /* height: 2rem; */
  left: .7rem;
  right:.7rem;
  top:70%;
  margin-right: auto;
  background-color: white;
  padding:1rem;
  border-radius: .2rem;
  text-align: center;

}
.div3-data>a>div>h3{
  color:#fc2779;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1 rem;
  font-weight: 500;
  margin-top:.1rem;
}
.div3-data>a>div>p{
  text-align: center;
  color:#3f414d;;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top:.4rem;
}

.slideshow2{
  cursor: pointer;
  position:relative;
  width: 88%;
  display:block;
  height:10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2em;
  padding: 0%;
  /* border:.05em solid pink; */
}

.homepagediv4{
    margin-top: .1em;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);   
}

.div4-data{
    cursor: pointer;
    display: flex;
    border: .05em solid rgb(212, 200, 200);
    margin: .4em;
    background-color: white;
}
.div4-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.div4-data>a>img{
    width:100%;
    height:fit-content;
}
.div4-data>a>h3{
  text-align: center;
  color:#fc2779;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin:.1rem;
}
.div4-data>a>p{
  text-align: center;
  color:#3f414d;;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 500;
  margin-top:.4rem;
  margin-bottom: .4rem;
}

.homepagediv2>a>img{
    width: 100%;
    height:fit-content;
}
.div5-data{
    cursor: pointer;
    display: flex;;
    /* border: .05em solid rgb(212, 200, 200); */
    margin: .4em;
    /* height:15em; */
    background-color: white;  
}
.div5-data>a>img{
display: flex;
width:100%;
height:100%;
}
.div6-data{
    cursor: pointer;
    display: flex;;
    /* border: .05em solid rgb(212, 200, 200); */
    margin: .4em;
    /*  */
    background-color: white;
}
.div6-data>a>img{
width:100%;
height:fit-content;

}
.div6-data:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.div6-data>a>h3{
  text-align: center;
  color:rgb(233, 10, 177);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin:.1rem
}
.div6-data>a>p{
  text-align: center;
  color:#3f414d;;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 500;
  margin-top:.4rem;
  margin-bottom: .4rem;
}
.homepagegiftcard{
    cursor: pointer;
    position:relative;
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0%;
}
.homepagegiftcard>a>img{
   width:100%;
   height:fit-content;
}
.homepagegiftcard:hover{
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.slider {
  overflow: hidden;
  display:grid;
  grid-template-columns: repeat(20, 2fr) ;
  margin: auto;
  width: 88%;
  
}
.slider> div {
  cursor: pointer;
  margin:.5rem;
  position: relative;
  width: 700%;
  left: 0;
  font-size: 0;
  animation: 30s slider infinite;
}
.slider> div:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.slider> div >img {
  float: left;
  height: 100%;
  width: 100%;

}
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  70% {
    left: -350%;
  }
  75% {
    left: -400%;
  }
  95% {
    left: -500%;
  }
}