.skin-slideshow-container {
  width: 100%;
  position: relative;
  margin-top: 20px;
  z-index:-1;
}

.skin-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgb(190, 151, 187);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  visibility: hidden;
}

.cartpage{
/* display: none; */
/* border-radius: 5px; */
visibility: hidden;
max-height: 78vh;
overflow-y: scroll;
position: absolute;
right: 0%;
top: 20vh;
z-index: 2;
/* display: none; */
background-color: white;
text-align: center;
border: 2px solid grey;
box-shadow: 2px 3px 3px 2px grey;
}
.cartcontainer{
/* max-width: 30%; */
min-height: 6rem;
max-height: 6rem;
display: flex;
border: 1px solid grey;
box-shadow: 2px 3px grey;
margin: 1rem;
}
.checkout{
background-color: rgba(251, 55, 130, 255);
font-weight: 700;
color: white;
min-height: 2rem ;
border-radius: 5px;
}

.cross{
position: absolute;
right: 0;
font-size: x-large;
color:rgba(251, 55, 130, 255) ;
outline: none;
border: none;
}

.skin-prev, .skin-next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
background-color: white;
}
.skin-prev{
  align-items: center;
  left:1em;
  border-radius: 50%;
  width:3em;
  visibility: hidden;
}

.skin-next {
  visibility: hidden;
  right: 1em;
  border-radius: 50%;
  width: 3em;
}

.skin-active {
  background-color: #e684d9;
}

.skin-fade {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.skin-para{
  font-size: 2em;
font-family: Arial, Helvetica, sans-serif;  
text-align: center;
color: black;
margin-top: 1em;
margin-bottom: 0em;
font-weight: 600;
}

.skin-maindiv1{
width:100%;
margin-top: .1em;
padding-top: .6em;
padding-bottom: .6em;
background-color: white;
}
.skin-maindiv1a{
  margin-top: .1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);      
}
.maindiv1a-data{
  position:relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #121213;
  font-size:1.3em ;
  font-family:Arial, Helvetica, sans-serif;
  margin: .4em;
  height:18em;
  background-color: white;

}
.maindiv1a-data:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.maindiv1a-data>img{
  border: .01em solid rgb(212, 200, 200);
  width:100%;
  height:17em;
  margin-bottom: .3em;
}
.maindiv1b-data{
  position:relative;
  cursor: pointer;
  display: flex;
  margin: .8em;
  background-color: white;
  border-radius: .8em;

}
.maindiv1b-data>img:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.maindiv1b-data>img{
  width:100%;
  height:6em;
  border-radius: .8em;
}
.skin-divfull{
  cursor: pointer;
  position:relative;
  width: 90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2.5em;
  padding: 0em;
  }
  .skin-divfull:hover{
      box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
  }
  
.homepagediv2:hover{
     box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}

.maindiv1c-data{
  position:relative;
  cursor: pointer;
  display: flex;
  margin: .8em;
  background-color: white;
}
  .maindiv1c-data>img:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.maindiv1c-data>img{
  width:100%;
  height:17em;
}
.skin-maindiv1b{
  margin-top: .1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);      
}
.skin-maindiv1C{
  margin-top: .1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}
.maindiv1D-data{
  position:relative;
  cursor: pointer;
  display: flex;
  margin: .8em;
  background-color: white;
  
}
.maindiv1D-data>img:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.maindiv1D-data>img{
  width:100%;
  height:8em;
}
.skin-maindiv1D{
  margin-top: .1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
.skin-maindiv1E{
  margin-top: .1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}
.skin-maindiv1F{
  margin-top: .1em;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
}

.slider {
  overflow: hidden;
  display:grid;
  grid-template-columns: repeat(20, 2fr) ;
  margin: auto;
  width: 100%;
  
}
.slider> div {
  cursor: pointer;
  margin:.5rem;
  position: relative;
  width: 900%;
  left: 0;
  font-size: 0;
  animation: 30s slider infinite;
}
.slider> div:hover{
  box-shadow: 0 10px 12px 0 rgb(0 0 0 / 20%), 0 .5em 2em 0 rgb(0 0 0 / 19%) !important;
}
.slider> div >img {
  float: left;

}
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  70% {
    left: -350%;
  }
  75% {
    left: -400%;
  }
  95% {
    left: -500%;
  }
}