*{
  box-sizing: border-box;
}
      /* body {font-family: Verdana, sans-serif; margin:0} */ */
      .carousel .mySlides {display: none}
     .carousel img {vertical-align: middle;}
      
      .rectangleMain {
        max-width: 80vw;
        position: relative;
        margin: auto;
        z-index: 0;
      }
      .prev{
          left: 0;
      }
      .prev, .next {
          /* border: 1px solid blue; */
        cursor: pointer;
        position: absolute;
        top: 50%;

        width:2rem;
        padding: 16px;
        margin-top: -2rem;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      .theImage {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      .dot {
        cursor: pointer;
        height: 1vw;
        width: 1vw;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
        background-color: #717171;
      }
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @media only screen and (max-width: 300px) {
        .prev, .next {font-size: 11px}
      }